@font-face {
    font-family: 'raylig';
    src: url('rayligregular-ezpn6-webfont.woff2') format('woff2'),
         url('rayligregular-ezpn6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.z-wrapper, html, body {
    height: 100%;
    margin: 0;
}
.z-wrapper {
    display: flex;
}
#z-col1 {
    background-color: #32456B;
    flex: 5;
    min-height: 100%;
}
#z-brand {
    background-color: white;
    font-family: 'raylig';
    color: black;
    padding-left: 5rem !important;
    padding-top: 2.75rem !important;
    padding-bottom: 1.5rem !important;
    font-size: 2rem !important;
}
#z-image {
    background-color: white;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
#z-image img{
    max-height: 80vh;
}
#z-col2 {
    background-color: #283756;
    flex: 4;
    font-family: 'Montserrat' !important;
    font-weight: 300 !important;
    color: white;
    min-height: 100%;
    padding-right: 6em;
    padding-left: 6em;
    padding-top: 9.5em;
}

#z-title {
    font-family: 'raylig';
    font-size: 2.75rem !important;
    margin-bottom: 1.2rem;
}

.z-remember {
    justify-content: space-between;
}

.z-right {
    justify-content: flex-end;
    margin-bottom: 8px;
}

.btn-primary {
    border-color: #48DACF !important;
    background-color: #48DACF !important;
    color:black;
    font-weight: 400;
}

#z-col2 a {
    font-weight: 400;
}

/* Register */
#z-last-label {
    padding-bottom: 1.5em;
}