<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remembook</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="z-wrapper">
        <div id="z-col1">
            <div id="z-brand">
                Remembook
            </div>
            <div id="z-image">
                <img class="z-img-kiri" src="group4a.png">
                <img class="z-img-kanan" src="group5.png">
            </div>
        </div>
        <div id="z-col2">
            <div id="z-title">Register</div>
            <form>
                <div class="form-outline mb-4">
                <label class="z-form form-label" for="form2Example1">Username</label>
                <input type="username" id="form2Example1" class="form-control" />
                </div>

                <div class="form-outline mb-4" id="z-last-label">
                <label class="z-form form-label" for="form2Example2">Password</label>
                <input type="password" id="form2Example2" class="form-control" />
                </div>
            
                <!-- Submit button -->
                <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
        </div>
      </div>
</body>
